@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Teko:wght@300&family=Zen+Kurenaido&display=swap');
*{
	margin:0;
	padding:0;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxTopoDoSiteHomexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.topo{
	width: 100%;;
    min-height: 145px;
    /*background-color: red;*/
}
.logo{
    width:70px;
    height: 90px;
    background-image: url(imagens-icones/logo.png);
    background-repeat: no-repeat;
    /*background-color: white;*/
    float: left;
    margin: 1% 0 0 1%;
}

.redes{
	width:20%;
	height: 40px;
    /*background-color: blue;*/
    float: right;
    margin: 2% 1% 0 0;
    display: flex;
    flex-flow: row wrap;

}

.redecaix{
  	width: 20%;
  	height: 40px;
  	background-color: white;
  	margin-left: 1%;
  	display: flex;
  	align-items: center;
  	border-radius: 10%;
  	border-radius: 10%;
  	border: 1px solid white;
  	transition: 1s;
}

.redecaix:hover{
   border: 1px solid #5a6f44;
}

.redecaix img{
 	margin-left: 10%;
}
.menuMobile{
	display: none;
}
.menuExpande{
	display: none;
}

.menu{
 	width: 100%;
 	min-height: 50px;
 	background-color:#78866b;
 	float: left;
 	display: flex;
 	justify-content: center;
}

.caixaMenu{
	width: 10%;
	height: 50px; 
	background-color: #78866b;
	margin-left: 2%;
	display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
}

.caixaMenu:hover{
	background-color: #5a6f44;	
}

.caixaMenu a{
	text-decoration: none;
	font-family: 'Staatliches', cursive;
	color: white;
	/*font-size: 2.5vw;*/
	font-size:max(20px, 2.5vw);
}




/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxMeioDoSiteHomexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.nav{
	width: 100%;;
	min-height: 1740px;
	/*background-color: red;*/
	float: left;
}

.contTexto{
	width: 50%;
	min-height: 500px;
	background-color: white;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*text-align: justify;*/
}

.contTexto h1{
	font-family: 'Zen Kurenaido', sans-serif;
	color: #78866b;
	font-size: max(23px, 2.5vw);
	margin: 0 10% 0 10%;
	/*background-color: red;*/
	/*text-indent: 15%;*/
	
	
	
}

.contTexto h2{
    font-family: 'Zen Kurenaido', sans-serif;
	color: #78866b;
	font-size: max(14px, 1.5vw);
	/*margin: 0 0 0 10% ;*/
	/*background-color: red;*/
	
}

.caixBnt{
	width: 100%;
	height: 5vw;
	/*background-color: tan;*/
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.bnt, .bnt2, .bnt3{
    width: 35px;
	height: 35px;
	background-color:white;
	margin-left: 2%;
	border-radius: 10%;
	border: 1px solid #78866b;
	color: #78866b;	
	transition: 1s;
}

.bnt{
	background-color:lightgray;
}

.contFoto{
	width: 50%;
	min-height: 500px;
	background-image: url(imagens-icones/foto001.jpg);
	background-color:#5a6f44 ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: right;
}

.contTexto2{
	width: 100%;
	min-height: 160px;
	background-color: #78866b;
	float: left;
	text-align: center;
	align-items: center;
}

.contTexto2 h2{
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	/*font-size: 2.5vw;*/
	font-size: max(23px, 2.5vw);
	margin-top: 2%;
	/*background-color: red;*/
}

.caixaIcone{
	width: 100%;
	height: 50px;
	/*background-color: red;*/
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;

	
}

.caixaIcone div{
	float: left;
	width: 70px;
	height: 65px;
	background-image: url(imagens-icones/flor.png);
	background-repeat: no-repeat;
	/*background-color: gray;*/
}

.contFoto2{
	width: 35%;
	min-height: 350px;
	background-image: url(imagens-icones/foto004.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #78866b;
	float:left;
	margin: 5% 0 0 5%;
	border-radius: 2%;
}

.contTexto3{
	width: 53%;
	min-height: 350px;
	/*background-color: #78866b;*/
	float:right;
	margin: 5% 5% 0 0;
	
}

.contTexto3 h2{
	font-family: 'Zen Kurenaido', sans-serif;
	color: black;
	font-size: max(23px, 2vw);
	margin-top: 2%;
	text-indent: 5%;
	margin: 5% 5% 0 5% ;
}

.contTexto3 p{
	font-family: 'Zen Kurenaido', sans-serif;
	color: black;
	font-size: max(17px, 1.5vw);
	margin-top: 2%;
	text-indent: 5%;
	margin: 1% 2% 0 2% ;
}

.contTexto3 ul{
	font-family: 'Zen Kurenaido', sans-serif;
	color: black;
	list-style-type: circle;
	list-style-position: inside;
	/*background-color: green;*/
	width: 35%;
	font-size: max(17px, 1.5vw);
	margin-top: 2%;
	text-indent: 5%;
	margin: 1% 0 0 3% ;
	float: left;
}

.iconeGlobo{
	width: 70px;
	height: 65px;
    float: right;
	background-color: #78866b;
	background-image: url(imagens-icones/globo.png);
	background-repeat: no-repeat;
	margin:50px 5px 0 0;
	border-radius: 5%;	
}

.contTexto4{
	width: 100%;
	min-height: 250px;
	background-color: #78866b;
	float:left;
	margin:5% 0 0 0;
	text-align: center;
	align-items: center;
}

.contTexto4 h2{
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	font-size: max(23px, 2vw);
	margin-top: 2%;	
}

.contTexto4 p{
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	font-size: max(17px, 1.5vw);
	margin: 0 5% 0 5%;
}

.contFoto5{
	width: 100%;
	min-height: 400px;
	background-color: lightyellow;
	background-image: url(imagens-icones/foto005.png);
	background-size:100% 170%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 10px 300px rgba(255, 255, 64, 0.75);
	transition: 1.5s;
}

.contFoto5 h2{
	font-size:max(55px, 6vw);
	color: white;
	font-family: 'Staatliches', cursive;
	color: white;
	transition: 1.5s;
	opacity: 1;
}

.contFoto5:hover{
    box-shadow: inset 0 0 0 0 rgba(255, 255, 64, 0.75);
}

.contFoto5:hover h2{
	opacity: 0;
}





/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxFinalDoSiteHomexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.rodape{
	width: 100%;
	min-height: 240px;
	background-color: #78866b;
	float: left;
	text-align: center;
	align-items: center;
}

.copy{
	width: ;
	background-color: #5a6f44;
	width: 100%;
	min-height: 40px;
	float: left;
}

.copy p{
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	/*font-size: 1.5vw;*/
	font-size: max(13px, 1vw);
}

.flatIcon1{
	width: 45%;
	min-height: 150px;
	/*background-color: black;*/
	float: left;
	display: flex;
	align-items: center;
}

.flatIcon{
	width: 40%;
	min-height: 150px;
	/*background-color: black;*/
	float: right;
	display: flex;
	align-items: center;
}

.linkRodape{
	text-decoration: none;
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	font-size: max(12px, 1vw);
	background-color: #78866b;
	padding: 1%;
	border-radius: 5%;
	transition: 1.5s;
}

.linkRodape:hover {
    background-color: #5a6f44;	
}

.menuRodape{
	width: 100%;
	min-height: 50px;
	background-color: #5a6f44;
	border: 1px solid white;
	float: left;
	display: flex;
	align-items: center;

}

.menuRodape div{
	/*background-color: red;*/
	width: 45%;
	margin: auto;
}

.menuRodape a{
	text-decoration: none;
	font-family: 'Staatliches', cursive;
	color: white;
	font-size: 17px;
	margin-left: 5%;
	padding: 10px;
	background-color:#5a6f44  ;
	transition: 1.5s;	
}

.menuRodape a:hover{
	background-color:#78866b;
}

.logoRodape{
	width: 10%;
	height: 55px;
	background-image: url(imagens-icones/logo.png);
	/*background-color: red;*/
	background-repeat: no-repeat ;
	float: left;
	margin: 5% 0 0 2.5%;
}




@media (max-width:768px){
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxTopoDoSiteHomeTabletxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.topo{
	width: 100%;;
    min-height: 230px;
    /*background-color: red;*/
}
.menu{
 	width: 100%;
 	min-height: 75px;
 	background-color:#78866b;
 	float: left;
 	display: flex;
 	justify-content: center;
 	margin-top:60px ;
 	
}
.redes{
	width:37%;
	height: 40px;
   

}
.redecaix{
  	width: 40px;
  	height: 40px;

}
.menuExpande{
	display:block;
	background-color: #5a6f44;
	width: 100%;
	height: 150px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -200px;
	transition: 1.5s;
	
}
.menuExpande a{
	text-decoration: none;
	font-family: 'Staatliches', cursive;
	color: white;
	/*font-size: 2.5vw;*/
	font-size:max(25px, 2.5vw);

}




	/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxMeioDoSiteHomeTabletxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.caixaMenu{
	display: none;

}
.menu{
 	width: 100%;
 	min-height: 75px;
 	background-color:#78866b;
 	float: left;
 	display: flex;
 	justify-content: center;
}
.menuMobile{
	display: block;
	width: 64px;
	height: 64px;
	background-image: url(imagens-icones/menuMobile.png);
	/*border: 2px solid white;*/
	margin-top: 3.5px;
	transform: rotate(0deg);
	transition: 1s;
}
.contTexto{
	width: 100%;
	min-height: 250px;
	/*background-color: red;*/
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*text-align: justify;*/
}
.contFoto{
	width: 100%;
	min-height: 450px;
	background-image: url(imagens-icones/foto001.jpg);
	background-color:#5a6f44 ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
}
.contTexto2{
	width: 100%;
	min-height: 180px;
	background-color: #78866b;
	float: left;
	text-align: center;
	align-items: center;
}
.contTexto2 h2{
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	/*font-size: 2.5vw;*/
	font-size: max(30px, 2.5vw);
	margin: 2% 5% 0 5%;
	/*background-color: red;*/
}
.contTexto3{
	width: 100%;
	min-height: 350px;
	/*background-color: #78866b;*/
	margin:0;
	
}
.contTexto3 h2{
	margin-top: 2%;
	margin: 5% 10% 0 10% ;
}

.contTexto3 p{
	margin-top: 2%;
	margin: 1% 8% 0 8% ;
}
.contTexto3 ul{
	margin: 1% 8% 0 8% ;
}
.contFoto2{
	width: 100%;
	min-height: 450px;
	float:left;
	margin:0;
	border-radius: 0;
}
.iconeGlobo{
	margin:30px 20px 0 0;
	
}
.contTexto4{
	background-color: #78866b;
	float:left;
	margin: 2% 0 0 0;
}

.contTexto4 h2{
	margin: 3% 10% 0 10%;
}

.contTexto4 p{
	margin: 0 8% 0 8%;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxFinalDoSiteHomeTabletxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.menuRodape div{
	/*background-color: red;*/
	width: 75%;
	margin: auto;
}
.flatIcon1{
	width: 43%;
	min-height: 150px;
	/*background-color: black;*/
	float: left;
	
}
.flatIcon1 img{
	width: 100px;
	height: 100px;
	/*background-color: red;*/

}

.flatIcon{
	width: 40%;
	min-height: 150px;
	/*background-color: black;*/
	float: right;
	display: flex;
	align-items: center;
}
.flatIcon img{
	width: 100px;
	height: 100px;
	/*background-color: red;*/
}
.linkRodape{
	text-decoration: none;
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	font-size: max(12px, 1vw);
	background-color: #78866b;
	padding:1%;
	border-radius: 5%;
	transition: 1.5s;
	/*background-color: green;*/
	margin: 0;
	}
.logoRodape{
	width: 60px;
	height: 55px;
	background-image: url(imagens-icones/logo.png);
	/*background-color: red;*/
	background-repeat: no-repeat ;
	float: left;
}
}

@media (max-width: 480px){
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxTopoDoSiteHomeMobilexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.topo{
	width: 100%;;
    min-height: 230px;
    /*background-color: red;*/
}
.menu{
 	width: 100%;
 	min-height: 75px;
 	background-color:#78866b;
 	float: left;
 	display: flex;
 	justify-content: center;
 	margin-top:60px ;
 	
}
.menuExpande{
	display:block;
	background-color: #5a6f44;
	width: 100%;
	height: 150px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -200px;
	transition: 1.5s;
	
}
.menuExpande a{
	text-decoration: none;
	font-family: 'Staatliches', cursive;
	color: white;
	/*font-size: 2.5vw;*/
	font-size:max(25px, 2.5vw);

}
.caixaMenu{
	display: none;

}
.menuMobile{
	display: block;
	width: 64px;
	height: 64px;
	background-image: url(imagens-icones/menuMobile.png);
	/*border: 2px solid white;*/
	margin-top: 3.5px;
}
.redes{
	width:190px;
	height: 40px;
    /*background-color: blue;*/
    float:right;
    margin: 2% 0 0 0;
    display: flex;
    flex-flow: row wrap;

}
.contTexto2 h2{
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	/*font-size: 2.5vw;*/
	font-size: max(23px, 1.5vw);
	margin-top: 2%;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxMeioDoSiteHomeMobilexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.nav{
	width: 100%;;
	min-height: 2122px;
	/*background-color: red;*/
	float: left;
}
.contFoto{
	width: 100%;
	min-height: 350px;

}
.contFoto2{
	width: 100%;
	min-height: 350px;
}
.contTexto2{
	width: 100%;
	min-height: 150px;
	background-color: #78866b;
	margin: 5px 0 5px 0;

}
.contTexto4{

	margin:5% 0 5px 0;
}
.contFoto5{
	width: 100%;
	min-height: 300px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxFinalSiteHomeMobilexxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.rodape{
	width: 100%;
	min-height: 350px;
}
.menuRodape div{
	width: 95%;
	margin: auto;
}
.flatIcon1{
	width: 100%;
	min-height: 100px;
	float: left;
	
}
.flatIcon1 img{
	width: 100px;
	height: 100px;
	float: left;
}

.flatIcon{
	width: 100%;
	min-height: 100px;
	float: left;
}
.flatIcon img{
	width: 100px;
	height: 100px;
	/*background-color: red;*/
}
.linkRodape{
	text-decoration: none;
	font-family: 'Zen Kurenaido', sans-serif;
	color: white;
	font-size: max(12px, 1vw);
	background-color: #78866b;
	padding:1%;
	border-radius: 5%;
	transition: 1.5s;
	/*background-color: green;*/
	margin: 0;
	}
.logoRodape{
	margin: 0;
	
}
}

